@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
:root{
    --ROBOTO: 'Roboto', sans-serif;
}

body {
    background: rgba(1, 59, 72, 1);
}
i{
    color: white;
}

/* Login */
.fondo{
    border-radius:20px;
    padding: 20px 10px; 
    background: linear-gradient(116.67deg, #034453 52.68%, #174853 58.18%);
}

.title {
    font-family: var(--ROBOTO);
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 20px;
}

.input {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background: white;
}

.boton {
    width: 300px;
    height: 40px;
    border: none;
    color: white;
    background: rgba(1, 59, 72, 1);
    border-radius: 10px;
    font-family: var(--ROBOTO);
    font-weight: 600;
}

.img-barber {
    width: 150px;
    height: 150px;
    float: right;
}
.recuperar {
    font-family: var(--ROBOTO);
    font-weight: 600;
    color: white;
    text-decoration: none;
}
