@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
:root {
    --ROBOTO: 'Roboto', sans-serif;
}

.principal-color {
    background: rgba(2, 93, 113, 1);
}

.principal-colorl {
    color: rgba(2, 93, 113, 1);
}

.principal-colorl:hover {
    color: rgb(5, 120, 146);
}

i {
    color: white;
}

.body {
    background: rgba(1, 59, 72, 1);
}

.perfil {
    border-radius: 20px;
    padding: 20px 10px;
    background: linear-gradient(116.67deg, #034453 52.68%, #174853 58.18%);
}

.title {
    font-family: var(--ROBOTO);
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 20px;
}

.input {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background: white;
}

.img-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.boton {
    width: 300px;
    height: 40px;
    border: none;
    color: white;
    background: rgba(1, 59, 72, 1);
    border-radius: 10px;
    font-family: var(--ROBOTO);
    font-weight: 600;
}

.boton_b {
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background: rgba(1, 59, 72, 1);
    border-radius: 10px;
    font-family: var(--ROBOTO);
    font-weight: 600;
}

.tbl_scroll {
    min-height: 17rem;
    max-height: 17rem;
    overflow: hidden;
    overflow: auto;
}

.tbl_scroll::-webkit-scrollbar {
    width: 5px;
}

.tbl_scroll::-webkit-scrollbar-thumb {
    background-color: #174853;
    border-radius: 5rem;
}

.tbl2_scroll {
    min-height: 11rem;
    max-height: 11rem;
    overflow: hidden;
    overflow: auto;
}

.tbl2_scroll::-webkit-scrollbar {
    width: 5px;
}

.tbl2_scroll::-webkit-scrollbar-thumb {
    background-color: #174853;
    border-radius: 5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(1, 59, 72, 1);
}

.contenedor-input {
    display: inline-block;
    min-width: 10px;
}

.input2 {
    background-color: none;
    width: 100%;
    font-size: 1.2rem;
}

.tabla_informe {
    border: 2px;
    background-color: #174853;
}

@media (max-width: 300px) {
    .card-detalle {
        width: 2rem;
        margin-left: 100px;
    }
}

@media (max-width: 400px) {
    .card-detalle {
        width: 12rem;
        margin-left: 0px;
    }
}

@media (max-width: 500px) {
    .card-detalle {
        width: 10rem;
        margin-left: 0px;
    }
}